.brand-heading {
	margin-top: 50px;
	color: black;
	text-align: center;
	font-size: 50px;
	background: rgba(255, 255, 255, 0.7);
}

body {
	/*background-color: #e1d5c9;*/
	font-family: 'Ubuntu', sans-serif;
	background-image: url("../images/fond-paris.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	color: white;
	font-size: 20px;
}

.intro-text {
	margin: 50px auto;
	padding: 10px;
	color: black;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	max-width: 660px;
}

.about 
{
	margin-top: 50px;
	margin-left: 1000px;
}

#choix-personnage {
	max-width:660px;
	height: 350px;
	margin: auto;
	background: rgba(255, 255, 255, 0.7);
	align-content: center;

}

#choix-personnage .flipper {
	display: flex;
    flex-direction: row;
    color: black;
}

#choix-personnage .flipper .front {
	width:250px;
	height:350px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#choix-personnage .flip-container .back {
	padding:10px;
}